table#snakepit {
  border: 2px solid black;
  border-spacing: 0px;
}

td.snake {
  font-size: 10%;
  text-align: center;
  background-color: gray;
}

td.snake.head {
  background-color: green;
}

td.apple {
  background-color: red;
}

td.empty {
}

td {
  box-sizing: border-box;
}